{% extends "base.html" %}
{% load static %}

{% block main_content %}
    
<section id="detailsPage">
<div class="wrapper-audio-details">
        
        <br>
        <div class="edit-profile-details">
            <h2>Edit audio title</h2>
        </div>
        <br>
        <form action="{% url 'audiofile_update' pk=object.pk %}" method="post">
            <div class="form-group-audio-edit">
            <div class="form-field">
                  <label for="id_first_name">Title:</label>
                        {{ form.title }}
            </div>
            </div>

            <div class="form-group-button-audio-edit">
                <button type="submit" class="delete">Edit</button>
            </div>
            
            {% csrf_token %}
        </form>
        <!-- End Edit Profile Form -->
    </div>
    
</div>
</section>
    
{% endblock %}

{% block home-page-text %}
{% endblock %}
