{% extends "base.html" %}
{% load static %}
{% block main_content %}
    <style>
        .container {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container {
            text-align: center;
        }

    </style>
{% if audio_files %}
    <div class="container">
        <h1>All Audio Files</h1>
    </div>
        <div class="container">
        <p>Total Audio Files: {{ total_audio_files }}</p>
    </div>

<div class="audio-grid">

  {% for audio_file in audio_files %}
    <div class="audio-file">
    
    <div class="profile-details-infos">
      <p class="email"><strong>Title:</strong> {{ audio_file.title }}</p>
    </div>
        
{#      <a href="{% url 'audiofile_detail' pk=audio_file.pk %}" class="remove"> #}
{#        <div class="form-group-button-audio-list">#}
{#          <button type="submit" class="register">Details</button>#}
{#        </div>#}
{#      </a>#}
<div class="actionBtn">
    <a href="{% url 'audiofile_detail' pk=audio_file.pk %}" class="register">Details</a>
</div>



  {% endfor %}
</div>
</div>
    
{% else %}
    <div class="container">
        <h1>No audio files found.</h1>
    </div>
{% endif %}

{% endblock %}
{% block home-page-text %}
{% endblock %}