{% extends "base.html" %}
{% load static %}
{% block main_content %}



    <div class="tips">
        <!-- Your tips content goes here -->
        <h6>Tips for using the site:</h6>
        <ul>
            <li>
                <h5>Choose Clear and Concise Text: Opt for clear and concise text when inputting content into the text-to-voice site. Avoid complex sentences, jargon, or ambiguous phrases that may result in misinterpretation by the text-to-voice engine. Clarity in the text will enhance the quality and comprehension of the generated audio output.</h5></li>
            <li>
                <h5>Preview the Generated Voice: Before finalizing and downloading the audio file, take advantage of any preview features provided by the text-to-voice site. Previewing allows you to listen to how the text will be vocalized, enabling you to identify any pronunciation errors, awkward pauses, or pacing issues that may need adjustment.</h5></li>
            <li>
                <h5>Customize Voice Settings: Many text-to-voice sites offer customization options for voice settings such as pitch, speed, and tone. Experiment with these settings to tailor the voice output to your preferences and requirements. Adjusting the voice settings can enhance the naturalness and expressiveness of the audio, making it more engaging for listeners.</h5></li>
        </ul>
    </div>

    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/kfqpFKdDVMU" frameborder="0" allowfullscreen></iframe>
    </div>

{% endblock %}
{% block home-page-text %}
{% endblock %}
