{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Text to Voice App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
  
<body>
<div id="box">

    {% include 'partials/header.html' %}

    {% block main_content %}
    {% endblock %}

    {% block home-page-text %}
   <div class="tips">  
    <section class="centered-text">
        <p>Welcome to Speechify, your ultimate solution for converting text into natural-sounding speech effortlessly! With Speechify, you can transform any written content into high-quality audio in just a few clicks. Whether you're a student, professional, or simply someone who prefers listening over reading, Text to Speechify is here to make your life easier.</p>
        <p>Our platform offers a seamless experience, allowing you to convert text from various sources such as documents, web pages, emails, and more into clear and lifelike speech. Say goodbye to long hours of reading and hello to the convenience of listening on the go.</p>
        <h3>Key Features:</h3>
        <p>Easy Conversion: Simply paste your text or upload your documents, and let Text to Speechify do the rest. Our advanced technology ensures accurate conversion with natural intonation and pronunciation.</p>
        <p>Customization Options: Tailor the speech output to your preferences with adjustable settings for voice type, speed, pitch, and more. Personalize your listening experience for optimal comprehension and enjoyment.</p>
        <p>Multiple Languages and Voices: Choose from a diverse selection of languages and voices to suit your needs. Whether you're listening to a novel in English, a research paper in Spanish, or a business report in French, we've got you covered.</p>
        <p>Download and Share: Download your audio files in various formats or share them directly with others. Seamlessly integrate the converted audio into your presentations, projects, or multimedia content.</p>
        <p>Accessibility and Inclusivity: Empower individuals with visual impairments, learning disabilities, or language barriers to access information effortlessly. Promote inclusivity and accessibility in your educational, professional, or personal endeavors.</p>
        <p>At Speechify, we're committed to providing you with the best-in-class text-to-speech solution that enhances your productivity, accessibility, and overall user experience. Join thousands of satisfied users and embark on a journey of effortless listening with Text to Speechify today!</p>
    </section>
  </div>         
    <audio src="{% static 'audio/song.mp3' %}" autoplay loop controls style="display: none;"></audio>

    {% endblock %}

    {% include 'partials/footer.html' %}
    
</div>
</body>
</html>