{% extends "base.html" %}
{% block main_content %}
    
<style>
    .container {
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        text-align: center;
        color: #753e7e;
    }
</style>
    

<div class="container">
    <div class="car-card">
        <h1>Account Balance</h1>
        <p>Your current account balance is: ${{ account_balance }}</p>
        <div class="actionBtn">
            <a href="{% url 'add_money' %}" class="btn btn-primary">Add balance</a>
        </div>
    </div>
</div>
    
{% endblock %}

{% block home-page-text %}
{% endblock %}